@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

* {
  box-sizing: border-box;
}

body, html {
  background: #212040;
  color: #ffffff;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  margin: 60px 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 25px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

/* Home page */

.statistics {
  width: 100%;
  background: #2e3f4f;
  margin-bottom: 20px;
}

.statistics-button {
  outline: none;
  padding: 10px 0;
  font-size: 1rem;
  border: none;
  width: 50%;
  background: #263747;
  color: #ffffff;
}

.statistics-button-selected {
  background: #2e3f4f;
}

.trails-table {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 600px;
}

.filters {
  margin-bottom: 20px;
  display: flex;
}

.search-input {
  margin-right: 20px;
  padding: 0;
  font-size: 19px;
  padding: 11px;
  border: none;
  border-radius: 2px;
  flex-grow: 1;
}

/* Detail page */

.detail-list {
  margin-bottom: 20px;
}

.detail-list li {
  margin-bottom: 10px;
}

.back {
  display: block;
  margin: 25px 0;
  font-weight: bold;
}

.back::before {
  content: '< ';
}

/* Table layout */

.ReactVirtualized__Table__headerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #263747;
}

.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #2e3f4f;
  outline: none;
}

.ReactVirtualized__Table__row:hover {
  background: #263747;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  outline: none;
}

.ReactVirtualized__Table__rowColumn {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ReactVirtualized__Table__headerColumn:first-of-type,
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 10px;
}

.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}

.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}
